// 
// Masthead
// 

header.masthead {
    position: relative;
    background-color: $gray-800;
    background: url('../assets/img/bg-masthead.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;

    h1 {
        font-size: 2rem;
    }

    @media (max-width: 7300px) {
        background: url('../assets/img/bg-masthead.jpg') no-repeat left center;
        background-size: cover;

        .row {
            justify-content: flex-end;
            
            > * {
                flex-shrink: 1;
                margin: 0;
                max-width: 60%;
            }
        }
    }

    @media (min-width: 768px) {
        padding-top: 12rem;
        padding-bottom: 12rem;

        h1 {
            font-size: 3rem;
        }
    }
}