<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h1>Firefly III</h1>
            <p>A free and open source personal finance manager</p>
        </header>
        <p>
            "Firefly III" is a financial manager. It can help you keep track of expenses, income, budgets and everything in between. It even supports credit cards, shared household accounts and savings accounts! It’s pretty fancy. You should use it to save and organise money.
        </p>
        <ul class="actions">
            <li><a href="{{ 'about-general.html' | absolute_url }}" class="button big">Learn More</a></li>
        </ul>
    </div>
    <span class="image object">
      <img src="assets/images/index.jpg" alt="Piggy!" />
    </span>
</section>
