doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Firefly III')
        meta(name='author', content='James Cole')

        title Firefly III - A free and open source personal finance manager

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon/favicon.ico')
        link(rel='apple-touch-icon', sizes='180x180', href='assets/favicon/apple-touch-icon.png' )

        link(rel='icon', type='image/png', sizes='32x32', href='assets/favicon/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='assets/favicon/favicon-16x16.png')

        link(rel='mask-icon', color='#1e6581', href='assets/favicon/safari-pinned-tab.svg')
        meta(name='msapplication-TileColor', content='#1e6581')
        meta(name='theme-color', content='#1e6581')

        // social
        meta(name='twitter:card', content='summary_large_image')
        meta(name='twitter:title', content='Firefly III')
        meta(name='twitter:site', content='@firefly_iii')
        meta(name='twitter:description', content='Firefly III')
        meta(name='twitter:image', content='https://www.firefly-iii.org/assets/logo/wall.png')
        meta(name='twitter:image:alt', content='Firefly III')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet', type='text/css')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // nav nav . navbar. navbar-l ight . bg-light .  static-top
        nav.navbar.navbar-expand-lg.bg-light.navbar-light.fixed-top.shadow-sm
                    .container
                        a.navbar-brand(href='#page-top') Firefly III
                        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                            | Menu
                            i.bi-list
                        #navbarResponsive.collapse.navbar-collapse
                            ul.navbar-nav.ms-auto.me-4.my-3.my-lg-0
                                li.nav-item
                                    a.nav-link.me-lg-3(href='https://demo.firefly-iii.org/') Demo
                                li.nav-item
                                    a.nav-link.me-lg-3(href='https://docs.firefly-iii.org/?mtm_campaign=firefly-iii-org&mtm_kwd=top-link') Documentation
                                li.nav-item
                                    a.nav-link.me-lg-3(href='https://github.com/firefly-iii/firefly-iii') Download

        // Masthead
        header.masthead
            .container.position-relative
                .row
                    .col-xl-6.offset-lg-6
                        .text-white
                            h1.mb-5 Firefly III
                            p A free and open source personal finance manager
        // Icons Grid
        section.features-icons.bg-light.text-center
            .container
                .row
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.bi-window.m-auto.text-primary
                            h3 Full transaction management
                            p.lead.mb-0 Firefly III features a double-entry bookkeeping system. You can quickly enter and organize your transactions in multiple currencies.
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.bi-layers.m-auto.text-primary
                            h3 Import data from any source
                            p.lead.mb-0 A special <a href="https://github.com/firefly-iii/data-importer/">Data Importer</a> helps you import data into your Firefly III administration.
                    .col-lg-4
                        .features-icons-item.mx-auto.mb-0.mb-lg-3
                            .features-icons-icon.d-flex
                                i.bi-terminal.m-auto.text-primary
                            h3 Advanced rule engine
                            p.lead.mb-0 Use rules to quickly convert shorthands to detailed transactions or clean up your bank's abysmal CSV files.

        // Image Showcases
        section.showcase
            .container-fluid.p-0
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/ff2.png');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 Budgets, categories and tags
                        p.lead.mb-0
                            | Name your poison. Do you like to work with tags? Need to budget your expenses? Want to categorize all of your hobby expenses? Look no further. Firefly III supports all kinds. Budgets can be expanded with limits in multiple currencies, so you can budget both your daily household expenses and what you spend in Imperial Credits when visiting Tatooine.
                .row.g-0
                    .col-lg-6.text-white.showcase-img(style="background-image: url('assets/img/ff5.png');")
                    .col-lg-6.my-auto.showcase-text
                        h2 Informative reports
                        p.lead.mb-0
                            | Firefly III has advanced reporting capabilities, showing your expenses per week, month or year. But it can also help you audit your accounts with detailed list views. Or perhaps compare budgets or tags? It's all possible.
                .row.g-0
                    .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('assets/img/ff6.png');")
                    .col-lg-6.order-lg-1.my-auto.showcase-text
                        h2 JSON rest API
                        p.lead.mb-0
                            | For the advanced and mobile users out there, Firefly III features an expansive JSON REST API that allows you to tap into Firefly III's most important features. Create transactions, manage categories and get chart data from any app or system.

        // Footer
        footer.footer.bg-light
            .container
                .row
                    .col-lg-6.h-100.text-center.text-lg-start.my-auto
                        ul.list-inline.mb-2
                            li.list-inline-item
                                a(href='https://docs.firefly-iii.org/?mtm_campaign=firefly-iii-org&mtm_kwd=bottom-link') Documentation
                            li.list-inline-item ⋅
                            li.list-inline-item
                                a(href='https://docs.firefly-iii.org/firefly-iii/other-pages/contact/') Contact
                            li.list-inline-item ⋅
                            li.list-inline-item
                                a(href='https://demo.firefly-iii.org') Demo
                            li.list-inline-item ⋅
                            li.list-inline-item
                                a(href='https://github.com/firefly-iii/firefly-iii/') Download
                        p.text-muted.small.mb-4.mb-lg-0 &copy; Firefly III. All Rights Reserved.
                    .col-lg-6.h-100.text-center.text-lg-end.my-auto
                        ul.list-inline.mb-0
                            li.list-inline-item.me-4
                                a(href='https://twitter.com/Firefly_III')
                                    i.bi-twitter.fs-3

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')
